<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>


</style>

<!-- Toolbar -->
<section>
  <div class="container">
    <h1 class="brand"><a href="/" > Recipe List</a></h1>
    <form>
     <!----<input type="text" placeholder="Search Your Recipe..."> -->
      <div name="search"></div>
    </form>
    <div class="search-result">
    
        <table id="recipe">
          <tr>
            <th *ngFor="let columns of columns">
              <!--{{columns}}-->
            </th>
          </tr>
          <tr *ngFor="let recipe of recipe">
            <td >
            </td>
             <div class="item">
            
                <img  [src]='recipe.images'/>
            
        
          <div class="flex-container">
            <h1 class="title"> {{ recipe.title}}</h1>
            <a [routerLink]="['detailsrecipe']" routerLinkActive="active" class="view-btn" href="#">View Recipe</a>
          </div>
          <p class="item-data">Description: {{ recipe.description}}</p>
          <p class="item-data">Servings: {{ recipe.servings}}</p>
          <p class="item-data">Preparation Time: {{ recipe.prepTime}}</p>
          <p class="item-data">Cook Time: {{ recipe.cookTime}}</p>
        </div> 


          </tr>
        </table>


    </div>
  </div>
</section>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>



<div id="bewFacade-sidebox">
  <div id="bewFacade">
    <h2 class="logo">Web </h2>
    <p class="author">Coded By <span>Donnie </span> </p>
    <div class="items">
      <a href="#" target="_blank" class="item youtubeLink">
        <svg title="#" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
          <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
        </svg>
        <p>Watch how we made this.
        </p>
      </a>
      <a href="#" target="_blank" class="item">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
        </svg>
        <p>#</p>
      </a>

    </div>
    <div class="close">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
  <div id="bewFacade-icon">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <p><a href="./assets/crescendo-test2/index.html" target="_blank">Test 2 can be viewed here click to view</a></p>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
