

<section>
    <div  style="margin-top:-2786px;float: right;margin-right:584px;"  class="container initial">
      <h1 class="brand"><a href="/" > View Recipe</a></h1>
      <p>detailsrecipe works!</p>
      <form>
       <!----<input type="text" placeholder="Search Your Recipe..."> -->
        <div name="search"></div>
      </form>
      <div class="search-result">
      
          <table id="recipe">
            <tr>
              <th>
                <!--{{columns}}-->
              </th>
            </tr>
            <tr>
              <td >
              </td>
               <div class="item">
              
                  <img  src='#'/>
              
          
            <div class="flex-container">
              <h1 class="title"></h1>
              <a  class="view-btn" href="#"></a>
            </div>
            <p class="item-data"></p>
            <p class="item-data"></p>
            <p class="item-data"></p>
            <p class="item-data"></p>
          </div> 
  
  
            </tr>
          </table>
  
  
      </div>
    </div>
  </section>
