

<section>
    <div  class="search-result-details" s>
      <h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 24px;"><a href="/" > Ingredients</a></h1>
      <br>
      <p>detailsrecipe works!</p>
      <form>
       <!----<input type="text" placeholder="Search Your Recipe..."> -->
        <div name="search"></div>
      </form>
      <div class="" >
      
          <table id="recipe">
            <tr>
              <th>
                <!--{{columns}}-->
              </th>
            </tr>
            <tr>
              <td >
              </td>
               <div class="item">
              
                  <img  src='#'/>
              
          
            <div class="flex-container">
              <h1 class="title"></h1>
              <a  class="view-btn" href="#"></a>
            </div>
            <p class="item-data"></p>
            <p class="item-data"></p>
            <p class="item-data"></p>
            <p class="item-data"></p>
          </div> 
  
  
            </tr>
          </table>
  
  
      </div>
    </div>
  </section>
